/* 600px, 900px, 1200px */
.section {
	padding: 20px;
	border-bottom: 1px solid #c2c2c2;
}

.section:nth-child(even) {
	background-image: url('/background-hex.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

.section:nth-child(odd) {
	background-color: #ededed;
}

.header {
	position: relative;
	margin: 10px;
}

.title-container {
	margin-top: 10px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.title {
	font-size: 24px;
	width: 100%;
	margin-top: 5px;
}

.subtitle {
	font-size: 22px;
	top: 20%;
}

.profile {
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 0 0 5px gray;
}

.watercolor {
	margin: 0 auto;
}

/* Tablet Portrait */
@media ( min-width: 600px ) {
	.title-container {
		top: 40%;
	}

	.title {
		font-size: 36px;
		margin-top: 25px;
	}
}


/* Tablet Landscape */
@media ( min-width: 900px ) {
	.title {
		font-size: 36px;
	}
}

/* Desktop */
@media ( min-width: 1200px ) {
	.title {
		font-size: 36px;
	}
}
